<%- include('./partials/header') %>

<div class="heading">
    <h1>Welcome</h1>
</div>

<%- include('./partials/navBar') %>

<hr>

<p> Rawr! 🦊 Hi there! I'm a mischievous little fox who loves to tinker with gadgets and dabble in all sorts of cool stuff like hacking, Python, JS, HTML—y'know, all the fun techy things!</p><br>
    
<p> But wait, there's more! I'm totally obsessed with Japanese culture and language—it's like my ultimate dream! I can't wait to visit or even move there someday! Eep, just thinking about it gets me all excited! </p><br>
 
<p>  When I'm not busy coding up a storm or exploring virtual realms, you can find me hustling away at not one, not two, but three jobs! Phew, talk about a busy bee, right? 🐝</p><br>
 
<p>  And hey, when I finally catch a break, I love nothing more than hitting the ice for some chill ice fishing or setting sail on the open seas! Ahoy! ⛵️ Who knows, maybe one day I'll even get my own sailboat and embark on a magical journey all the way to Japan! Wouldn't that be the ultimate adventure? UwU</p><br>


<%- include('./partials/footer.ejs') %>