<%- include('./partials/header') %>

<div class="heading">
    <h1>Welcome</h1>
</div>

<%- include('./partials/navBar') %>

<hr>

<p>Hey there, welcome to my super awesome website! 🎉 It's like a work-in-progress masterpiece, you know? Currently, it's under development, but guess what? I'm on it every single day, making it cooler and more amazing just for you! So stay tuned for all the fun and excitement coming your way! ✨</p>


<%- include('./partials/footer.ejs') %>