<%- include('./partials/header') %>

<div class="img-circle">
     <img src="/assets/images/fox.png" alt="fox image"></a>
</div>

    <h1>Kits's Links</h1>



<ul class="nav-link">
    <li>
        <a href="/home" target="_blank" rel="noopener noreferrer" alt="">Website</a>
    </li>
    <li>
        <a href="/discord" target="_blank" rel="noopener noreferrer" alt="">Discord</a>
    </li>
    <li>
        <a href="/github" target="_blank" rel="noopener noreferrer" alt="">Github</a>
    </li>
</ul>

<%- include('./partials/footer.ejs') %>