<%- include('./partials/header') %>


<div class="heading">
    <h1>Projects</h1>
</div>

<%- include('./partials/navBar') %>

<hr>

<div class="card-container">
<div class="card">
    <a href="https://github.com/kitsukume/Kitsukume.com" target="_blank" rel="noopener noreferrer" class="card-link">
        <img class="card-img" src="/assets/images/fox.png" alt="Project Image">
        <div class="card-content">
            <h4><b>Kitsukume.com Github</b></h4>
            <p>Kitsukume Github for the website</p>
        </div>
    </a>
</div>

<div class="card">
    <a href="https://github.com/kitsukume/Stories" target="_blank" rel="noopener noreferrer" class="card-link">
        <img class="card-img" src="/assets/images/stories.png" alt="Project Image">
        <div class="card-content">
            <h4><b>Stories</b></h4>
            <p>Japanese stories ChatGPT wrote at an B1 level.</p>
        </div>
    </a>
</div>

<div class="card">
    <a href="https://github.com/kitsukume/Stories" target="_blank" rel="noopener noreferrer" class="card-link">
        <img class="card-img" src="/assets/images/stories.png" alt="Project Image">
        <div class="card-content">
            <h4><b>Stories</b></h4>
            <p>Japanese stories ChatGPT wrote at an B1 level.</p>
        </div>
    </a>
</div>

<div class="card">
    <a href="https://github.com/kitsukume/Stories" target="_blank" rel="noopener noreferrer" class="card-link">
        <img class="card-img" src="/assets/images/stories.png" alt="Project Image">
        <div class="card-content">
            <h4><b>Stories</b></h4>
            <p>Japanese stories ChatGPT wrote at an B1 level.</p>
        </div>
    </a>
</div>
</div>



<%- include('./partials/footer.ejs') %>