<%- include('../partials/header', { isAuthenticated: isAuthenticated }) %>

<div class="center">

<h1>Dashboard</h1>

<%- include('../partials/navBar') %>
<br>
<hr>
hi
<br>
</div>
<%- include('../partials/footer') %>