<%- include('../partials/header', { isAuthenticated: isAuthenticated }) %>

<div class="center">

<h1>Dashboard</h1>

<%- include('../partials/navBar') %>
<br>
<hr>
<h1>Welcome, <%= user.email %>!</h1>
<p>Here is your personalized dashboard.</p>

<!-- Links based on user permissions -->
 <div class="nav-link">
<% if (user.permissions.includes('camera_access')) { %>
    <a href="/camera">Camera Page</a>
<% } %>
<% if (user.permissions.includes('site_access')) { %>
    <a href="/site">Site Page</a>
<% } %>
<% if (user.permissions.includes('admin_access')) { %>
    <a href="/admin">Admin Page</a>
<% } %>
</div>
</div>
<%- include('../partials/footer') %>